<!DOCTYPE html>
<html>

<head>
  <title>Webex Integration (OAuth flow)</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div id="content">
    <h1>Welcome to Webex Integration App <%= nickName %>!</h1>
    <p>ID:
      <%= id %></p>
    <p>Displayed Name:
      <%= displayName %></p>
    <p>NickName:
      <%= nickName %></p>
    <p>First Name:
      <%= firstName %></p>
    <p>Last Name:
      <%= lastName %></p>
    <p>Email:
      <%= emails %></p>
      <p>List Rooms:<https://webexapis.com/v1/rooms></p>
      <a href="https://myintegration01.herokuapp.com/index.html" target="_blank">EXIT!</a>
  </div>
</body>

</html>
